.order_page {
  background-color: white;
  padding: 40px;
  margin: 20px auto;
  width: 70%;
  position: relative;
}

.order_title {
  font-size: 30px;
}

.order_page p {
  font-size: 20px;
}

.order_id {
  position: absolute;
  top: 40px;
  right: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.order_total {
  position: absolute;
  right: 30px;
  bottom: 40px;
  font-size: 20px;
}
